<footer _ngcontent-serverapp-c111="" id="footer">
  <div _ngcontent-serverapp-c111="" class="container over-hide !max-sm:px-4">
    <div _ngcontent-serverapp-c111="" class="row bt-1">
      <div _ngcontent-serverapp-c111="" class="col-lg-6">
        <div _ngcontent-serverapp-c111="" class="heading-form">
          <h2 _ngcontent-serverapp-c111="">
            Contact Us
            <span _ngcontent-serverapp-c111="" class="h2"
              >Looking for a travel buddy? We have a community to get you
              one.</span
            >
          </h2>
        </div>
      </div>
      <div _ngcontent-serverapp-c111="" class="col-lg-6 !max-sm:w-full">
        <div _ngcontent-serverapp-c111="" class="home-from">
          <div
            _ngcontent-serverapp-c111=""
            class="form-row"
            style="min-height: 40px"
          >
            <input
              _ngcontent-serverapp-c111=""
              type="text"
              placeholder="Name"
              [(ngModel)]="name"
              name="name"
              class="ng-untouched ng-pristine ng-valid"
            />
          </div>
          <div
            _ngcontent-serverapp-c111=""
            class="form-row"
            style="min-height: 40px"
          >
            <input
              _ngcontent-serverapp-c111=""
              type="tel"
              placeholder="Phone Number"
              [(ngModel)]="phone"
              name="phone"
              (input)="validatePhoneInput($event)"
              maxlength="10"
              class="ng-untouched ng-pristine ng-valid"
            />
            <div *ngIf="phoneNumberError" class="error-message">
              {{ phoneNumberError }}
            </div>
          </div>
          <div
            _ngcontent-serverapp-c111=""
            class="form-row destination-group"
            style="min-height: 40px"
          >
            <input
              _ngcontent-serverapp-c111=""
              type="text"
              placeholder="Destination"
              [(ngModel)]="destination"
              name="destination"
              (focus)="onInputFocus($event)"
              (blur)="onDestinationBlur($event)"
              (input)="onDestinationInput($event)"
              autocomplete="off"
              class="ng-untouched ng-pristine ng-valid"
            />
            <div *ngIf="destinationError" class="error-message">
              {{ destinationError }}
            </div>
            <div
              class="destination-suggestions"
              *ngIf="showSuggestions && destinationSuggestions.length > 0"
            >
              <div
                *ngFor="let suggestion of destinationSuggestions"
                class="suggestion-item"
                (click)="selectSuggestion(suggestion)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-map-pin mr-2 h-4 w-4 text-gray-500"
                >
                  <path
                    d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"
                  ></path>
                  <circle cx="12" cy="10" r="3"></circle>
                </svg>
                {{ suggestion.city }}, {{ suggestion.country }}
              </div>
            </div>
          </div>
          <!---->
          <div
            _ngcontent-serverapp-c111=""
            id="fx-button-hover-1-button"
            class="form-row fx-button-hover-1-pan button--pan fx-button-hover"
            style="min-height: 50px"
          >
            <a
              _ngcontent-serverapp-c111=""
              value="fx-button-hover"
              label=""
              type="page"
              (click)="submitNewsLetter()"
              ><span _ngcontent-serverapp-c111="">Contact Us</span></a
            ><!----><!---->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---->
  <div _ngcontent-serverapp-c111="" class="footer-top">
    <div _ngcontent-serverapp-c111="" class="container">
      <div _ngcontent-serverapp-c111="" class="row">
        <div _ngcontent-serverapp-c111="" class="col-lg-4 footer-contact">
          <img
            _ngcontent-serverapp-c111=""
            alt=""
            class="img-fluid"
            style="width: 150px"
            src="https://dsge8950r7q4v.cloudfront.net/assets/img/LOGO_Dark.jpg"
          />
          <p _ngcontent-serverapp-c111="" class="mt-3">
            Your convenience is our priority. We provide our customers with best
            service for a perfect holiday experience!
          </p>
          <ul _ngcontent-serverapp-c111="">
            <!---->
            <li _ngcontent-serverapp-c111="">
              <a
                _ngcontent-serverapp-c111=""
                href="https://instagram.com/holidaytribeworld?igshid=YmMyMTA2M2Y="
                target="_blank"
                ><i
                  _ngcontent-serverapp-c111=""
                  class="fa-brands fa-instagram"
                ></i
              ></a>
            </li>
            <li _ngcontent-serverapp-c111="">
              <a _ngcontent-serverapp-c111="" href="https://wa.me/+919205553340"
                ><i
                  _ngcontent-serverapp-c111=""
                  class="fa-brands fa-whatsapp"
                ></i
              ></a>
            </li>
            <li _ngcontent-serverapp-c111="">
              <a
                _ngcontent-serverapp-c111=""
                href="https://www.facebook.com/profile.php?id=100091659167328"
                target="_blank"
                ><i
                  _ngcontent-serverapp-c111=""
                  class="fa-brands fa-facebook-f"
                ></i
              ></a>
            </li>
            <li _ngcontent-serverapp-c111="">
              <a
                _ngcontent-serverapp-c111=""
                href="https://www.youtube.com/channel/UCIrUTnSSSQMQpcj86D3Z9Xg"
                target="_blank"
                ><i
                  _ngcontent-serverapp-c111=""
                  class="fa-brands fa-youtube"
                ></i
              ></a>
            </li>
            <li _ngcontent-serverapp-c111="">
              <a
                _ngcontent-serverapp-c111=""
                href="https://www.linkedin.com/company/holidaytribe/"
                target="_blank"
                ><i _ngcontent-serverapp-c111="" class="fab fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
        <span
          class="max-sm:flex max-sm:flex-row max-sm:gap-4 flex flex-row justify-between sm:w-[50%]"
        >
          <!-- Desktop Links (visible when tabWidth > 998) -->
          <div *ngIf="tabWidth>998" class="col-lg-2 col-2 footer-links">
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a (click)="navigateee('womenspecial')">Women Special</a></li>
              <li><i class="bx bx-chevron-right"></i> <a (click)="navigateee('bnbs')">BnBs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a (click)="navigateee('short-break')">Short Break</a></li>
              <li><i class="bx bx-chevron-right"></i> <a (click)="navigateee('mountains')">Mountains</a></li>
            </ul>
          </div>
          <div *ngIf="tabWidth>998" class="col-lg-2 col-2 footer-links">
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a (click)="navigateee('family')">Family</a></li>
              <li><i class="bx bx-chevron-right"></i> <a (click)="navigateee('romantic')">Romantic</a></li>
              <li><i class="bx bx-chevron-right"></i> <a (click)="navigateee('wildlife')">Wildlife</a></li>
              <li><i class="bx bx-chevron-right"></i> <a (click)="navigateee('cruise')">Cruise</a></li>
              <li><i class="bx bx-chevron-right"></i> <a (click)="navigateee('beach')">Beach</a></li>
            </ul>
          </div>
          <div *ngIf="tabWidth>998" class="col-lg-2 col-2 footer-links">
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a (click)="navigatee('about-us')">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a (click)="scrollToElement()">Holidays</a></li>
              <li><i class="bx bx-chevron-right"></i> <a (click)="navigatee('/')">Our Partners</a></li>
              <li><i class="bx bx-chevron-right"></i> <a (click)="navigatee('blog/')">Blogs</a></li>
            </ul>
          </div>
          <div *ngIf="tabWidth>998" class="col-lg-2 col-2 p4-mobile footer-links">
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.holidaytribe.com/terms-and-conditions">Terms and conditions</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.holidaytribe.com/privacy-policy">Privacy policy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.holidaytribe.com/cookie-policy">Cookies policy </a></li>
              <li><a href="tel:+917838350359">+91-7838350359</a></li>
              <li><a href="mailto:contact&#64;holidaytribe.com">contact&#64;holidaytribe.com</a></li>
            </ul>
          </div>
        </span>
        <!---->
      </div>
    </div>
  </div>
  <!----><!---->
  <!-- Mobile: Show all columns stacked -->
  <div *ngIf="tabWidth <= 998" class="footer-links-mobile-group">
    <div class="footer-links">
      <ul>
        <li><i class="bx bx-chevron-right"></i> <a (click)="navigateee('womenspecial')">Women Special</a></li>
        <li><i class="bx bx-chevron-right"></i> <a (click)="navigateee('bnbs')">BnBs</a></li>
        <li><i class="bx bx-chevron-right"></i> <a (click)="navigateee('short-break')">Short Break</a></li>
        <li><i class="bx bx-chevron-right"></i> <a (click)="navigateee('mountains')">Mountains</a></li>
      </ul>
    </div>
    <div class="footer-links">
      <ul>
        <li><i class="bx bx-chevron-right"></i> <a (click)="navigateee('family')">Family</a></li>
        <li><i class="bx bx-chevron-right"></i> <a (click)="navigateee('romantic')">Romantic</a></li>
        <li><i class="bx bx-chevron-right"></i> <a (click)="navigateee('wildlife')">Wildlife</a></li>
        <li><i class="bx bx-chevron-right"></i> <a (click)="navigateee('cruise')">Cruise</a></li>
        <li><i class="bx bx-chevron-right"></i> <a (click)="navigateee('beach')">Beach</a></li>
      </ul>
    </div>
    <div class="footer-links">
      <ul>
        <li><i class="bx bx-chevron-right"></i> <a (click)="navigatee('about-us')">About us</a></li>
        <li><i class="bx bx-chevron-right"></i> <a (click)="scrollToElement()">Holidays</a></li>
        <li><i class="bx bx-chevron-right"></i> <a (click)="navigatee('/')">Our Partners</a></li>
        <li><i class="bx bx-chevron-right"></i> <a (click)="navigatee('blog/')">Blogs</a></li>
      </ul>
    </div>
    <div class="footer-links p4-mobile">
      <ul>
        <li><i class="bx bx-chevron-right"></i> <a href="https://www.holidaytribe.com/terms-and-conditions">Terms and conditions</a></li>
        <li><i class="bx bx-chevron-right"></i> <a href="https://www.holidaytribe.com/privacy-policy">Privacy policy</a></li>
        <li><i class="bx bx-chevron-right"></i> <a href="https://www.holidaytribe.com/cookie-policy">Cookies policy </a></li>
        <li><a href="tel:+917838350359">+91-7838350359</a></li>
        <li><a href="mailto:contact&#64;holidaytribe.com">contact&#64;holidaytribe.com</a></li>
      </ul>
    </div>
    
    <!-- Copyright section for mobile - moved to bottom -->
    <div class="container mobile-copyright">
      <div class="copyright-wrapp">
        <div class="text-center w-100">
          <div class="copyright">
            Holiday Tribe formerly known as OOO Forever HOLIDAY TRIBE PRIVATE LIMITED. All rights reserved © 2023
          </div>
          <div class="copyright">
            329, 2nd Floor, Corporate Office, Phase IV, Udyog Vihar, Sector 19, Gurugram, Haryana 122016
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hide copyright section on mobile since it's now in mobile group -->
  <div *ngIf="tabWidth > 998" class="container">
    <div class="copyright-wrapp">
      <div class="text-center w-100">
        <div class="copyright">
          Holiday Tribe formerly known as OOO Forever HOLIDAY TRIBE PRIVATE LIMITED. All rights reserved © 2023
        </div>
        <div class="copyright">
          329, 2nd Floor, Corporate Office, Phase IV, Udyog Vihar, Sector 19, Gurugram, Haryana 122016
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>
