<footer _ngcontent-serverapp-c111="" id="footer">
  <div _ngcontent-serverapp-c111="" class="container over-hide !max-sm:px-4">
    <div _ngcontent-serverapp-c111="" class="row bt-1">
      <div _ngcontent-serverapp-c111="" class="col-lg-6">
        <div _ngcontent-serverapp-c111="" class="heading-form">
          <h2 _ngcontent-serverapp-c111="">
            Contact Us
            <span _ngcontent-serverapp-c111="" class="h2"
              >Looking for a travel buddy? We have a community to get you
              one.</span
            >
          </h2>
        </div>
      </div>
      <div _ngcontent-serverapp-c111="" class="col-lg-6 !max-sm:w-full">
        <div _ngcontent-serverapp-c111="" class="home-from">
          <div
            _ngcontent-serverapp-c111=""
            class="form-row"
            style="min-height: 40px"
          >
            <input
              _ngcontent-serverapp-c111=""
              type="text"
              placeholder="Name"
              [(ngModel)]="name"
              name="name"
              class="ng-untouched ng-pristine ng-valid"
            />
          </div>
          <div
            _ngcontent-serverapp-c111=""
            class="form-row"
            style="min-height: 40px"
          >
            <input
              _ngcontent-serverapp-c111=""
              type="tel"
              placeholder="Phone Number"
              [(ngModel)]="phone"
              name="phone"
              (input)="validatePhoneInput($event)"
              maxlength="10"
              class="ng-untouched ng-pristine ng-valid"
            />
            <div *ngIf="phoneNumberError" class="error-message">
              {{ phoneNumberError }}
            </div>
          </div>
          <div
            _ngcontent-serverapp-c111=""
            class="form-row destination-group"
            style="min-height: 40px"
          >
            <input
              _ngcontent-serverapp-c111=""
              type="text"
              placeholder="Destination"
              [(ngModel)]="destination"
              name="destination"
              (focus)="onInputFocus($event)"
              (blur)="onDestinationBlur($event)"
              (input)="onDestinationInput($event)"
              autocomplete="off"
              class="ng-untouched ng-pristine ng-valid"
            />
            <div *ngIf="destinationError" class="error-message">
              {{ destinationError }}
            </div>
            <div
              class="destination-suggestions"
              *ngIf="showSuggestions && destinationSuggestions.length > 0"
            >
              <div
                *ngFor="let suggestion of destinationSuggestions"
                class="suggestion-item"
                (click)="selectSuggestion(suggestion)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-map-pin mr-2 h-4 w-4 text-gray-500"
                >
                  <path
                    d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"
                  ></path>
                  <circle cx="12" cy="10" r="3"></circle>
                </svg>
                {{ suggestion.city }}, {{ suggestion.country }}
              </div>
            </div>
          </div>
          <!---->
          <div
            _ngcontent-serverapp-c111=""
            id="fx-button-hover-1-button"
            class="form-row fx-button-hover-1-pan button--pan fx-button-hover"
            style="min-height: 50px"
          >
            <a
              _ngcontent-serverapp-c111=""
              value="fx-button-hover"
              label=""
              type="page"
              (click)="submitNewsLetter()"
              ><span _ngcontent-serverapp-c111="">Contact Us</span></a
            ><!----><!---->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---->
  <div _ngcontent-serverapp-c111="" class="footer-top">
    <div _ngcontent-serverapp-c111="" class="container">
      <div _ngcontent-serverapp-c111="" class="row">
        <div _ngcontent-serverapp-c111="" class="col-lg-4 footer-contact">
          <img
            _ngcontent-serverapp-c111=""
            alt=""
            class="img-fluid"
            style="width: 150px"
            src="https://dsge8950r7q4v.cloudfront.net/assets/img/LOGO_Dark.jpg"
          />
          <p _ngcontent-serverapp-c111="" class="mt-3">
            Your convenience is our priority. We provide our customers with best
            service for a perfect holiday experience!
          </p>
          <ul _ngcontent-serverapp-c111="">
            <!---->
            <li _ngcontent-serverapp-c111="">
              <a
                _ngcontent-serverapp-c111=""
                href="https://instagram.com/holidaytribeworld?igshid=YmMyMTA2M2Y="
                target="_blank"
                ><i
                  _ngcontent-serverapp-c111=""
                  class="fa-brands fa-instagram"
                ></i
              ></a>
            </li>
            <li _ngcontent-serverapp-c111="">
              <a _ngcontent-serverapp-c111="" href="https://wa.me/+919205553340"
                ><i
                  _ngcontent-serverapp-c111=""
                  class="fa-brands fa-whatsapp"
                ></i
              ></a>
            </li>
            <li _ngcontent-serverapp-c111="">
              <a
                _ngcontent-serverapp-c111=""
                href="https://www.facebook.com/profile.php?id=100091659167328"
                target="_blank"
                ><i
                  _ngcontent-serverapp-c111=""
                  class="fa-brands fa-facebook-f"
                ></i
              ></a>
            </li>
            <li _ngcontent-serverapp-c111="">
              <a
                _ngcontent-serverapp-c111=""
                href="https://www.youtube.com/channel/UCIrUTnSSSQMQpcj86D3Z9Xg"
                target="_blank"
                ><i
                  _ngcontent-serverapp-c111=""
                  class="fa-brands fa-youtube"
                ></i
              ></a>
            </li>
            <li _ngcontent-serverapp-c111="">
              <a
                _ngcontent-serverapp-c111=""
                href="https://www.linkedin.com/company/holidaytribe/"
                target="_blank"
                ><i _ngcontent-serverapp-c111="" class="fab fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
        <span
          class="max-sm:flex max-sm:flex-row max-sm:gap-4 flex flex-row justify-between sm:w-[50%]"
        >
          <div _ngcontent-serverapp-c111="" class="col-lg-2 col-2 footer-links">
            <ul _ngcontent-serverapp-c111="">
              <li _ngcontent-serverapp-c111="">
                <i _ngcontent-serverapp-c111="" class="bx bx-chevron-right"></i
                ><a _ngcontent-serverapp-c111="">Women Special</a>
              </li>
              <li _ngcontent-serverapp-c111="">
                <i _ngcontent-serverapp-c111="" class="bx bx-chevron-right"></i
                ><a _ngcontent-serverapp-c111="">BnBs</a>
              </li>
              <li _ngcontent-serverapp-c111="">
                <i _ngcontent-serverapp-c111="" class="bx bx-chevron-right"></i
                ><a _ngcontent-serverapp-c111="">Short Break</a>
              </li>
              <li _ngcontent-serverapp-c111="">
                <i _ngcontent-serverapp-c111="" class="bx bx-chevron-right"></i
                ><a _ngcontent-serverapp-c111="">Mountains</a>
              </li>
            </ul>
          </div>
          <!---->
          <div _ngcontent-serverapp-c111="" class="col-lg-2 col-2 footer-links">
            <ul _ngcontent-serverapp-c111="">
              <li _ngcontent-serverapp-c111="">
                <i _ngcontent-serverapp-c111="" class="bx bx-chevron-right"></i
                ><a _ngcontent-serverapp-c111="">Family</a>
              </li>
              <li _ngcontent-serverapp-c111="">
                <i _ngcontent-serverapp-c111="" class="bx bx-chevron-right"></i
                ><a _ngcontent-serverapp-c111="">Romantic</a>
              </li>
              <li _ngcontent-serverapp-c111="">
                <i _ngcontent-serverapp-c111="" class="bx bx-chevron-right"></i
                ><a _ngcontent-serverapp-c111="">Wildlife</a>
              </li>
              <li _ngcontent-serverapp-c111="">
                <i _ngcontent-serverapp-c111="" class="bx bx-chevron-right"></i
                ><a _ngcontent-serverapp-c111="">Cruise</a>
              </li>
              <li _ngcontent-serverapp-c111="">
                <i _ngcontent-serverapp-c111="" class="bx bx-chevron-right"></i
                ><a _ngcontent-serverapp-c111="">Beach</a>
              </li>
            </ul>
          </div>
          <!---->
          <div _ngcontent-serverapp-c111="" class="col-lg-2 col-2 footer-links">
            <ul _ngcontent-serverapp-c111="">
              <li _ngcontent-serverapp-c111="">
                <i _ngcontent-serverapp-c111="" class="bx bx-chevron-right"></i
                ><a _ngcontent-serverapp-c111="">About us</a>
              </li>
              <li _ngcontent-serverapp-c111="">
                <i _ngcontent-serverapp-c111="" class="bx bx-chevron-right"></i
                ><a _ngcontent-serverapp-c111="">Holidays</a>
              </li>
              <li _ngcontent-serverapp-c111="">
                <i _ngcontent-serverapp-c111="" class="bx bx-chevron-right"></i
                ><a _ngcontent-serverapp-c111="">Our Partners</a>
              </li>
              <li _ngcontent-serverapp-c111="">
                <i _ngcontent-serverapp-c111="" class="bx bx-chevron-right"></i
                ><a _ngcontent-serverapp-c111="">Blogs</a>
              </li>
            </ul>
          </div>

          <div
            _ngcontent-serverapp-c111=""
            class="col-lg-2 col-2 p4-mobile footer-links"
          >
            <ul _ngcontent-serverapp-c111="">
              <li _ngcontent-serverapp-c111="">
                <i _ngcontent-serverapp-c111="" class="bx bx-chevron-right"></i
                ><a
                  _ngcontent-serverapp-c111=""
                  routerlink="/terms-and-conditions"
                  href="/terms-and-conditions"
                  >Terms and conditions</a
                >
              </li>
              <li _ngcontent-serverapp-c111="">
                <i _ngcontent-serverapp-c111="" class="bx bx-chevron-right"></i
                ><a
                  _ngcontent-serverapp-c111=""
                  routerlink="/privacy-policy"
                  href="/privacy-policy"
                  >Privacy policy</a
                >
              </li>
              <li _ngcontent-serverapp-c111="">
                <i _ngcontent-serverapp-c111="" class="bx bx-chevron-right"></i
                ><a
                  _ngcontent-serverapp-c111=""
                  routerlink="/cookie-policy"
                  href="/cookie-policy"
                  >Cookies policy
                </a>
              </li>
              <li _ngcontent-serverapp-c111="">
                <a _ngcontent-serverapp-c111="" href="tel:+917838350359"
                  >+91-7838350359</a
                >
              </li>
              <li _ngcontent-serverapp-c111="">
                <a _ngcontent-serverapp-c111="" href=""
                  >contact&#64;holidaytribe.com</a
                >
              </li>
            </ul>
          </div>
        </span>
        <!---->
      </div>
    </div>
  </div>
  <!----><!---->
  <div _ngcontent-serverapp-c111="" class="container">
    <div _ngcontent-serverapp-c111="" class="copyright-wrapp">
      <div _ngcontent-serverapp-c111="" class="text-center w-100">
        <div _ngcontent-serverapp-c111="" class="copyright">
          Holiday Tribe formerly known as OOO Forever HOLIDAY TRIBE PRIVATE
          LIMITED. All rights reserved © 2023
        </div>
        <!----><!---->
        <div _ngcontent-serverapp-c111="" class="copyright">
          329, 2nd Floor, Corporate Office, Phase IV, Udyog Vihar, Sector 19,
          Gurugram, Haryana 122016
        </div>
      </div>
      <div
        _ngcontent-serverapp-c111=""
        class="social-links text-center text-md-right pt-3 pt-md-0"
      >
        <a _ngcontent-serverapp-c111="" href="#" class="twitter"
          ><i _ngcontent-serverapp-c111="" class="bx bxl-twitter"></i></a
        ><a _ngcontent-serverapp-c111="" href="#" class="facebook"
          ><i _ngcontent-serverapp-c111="" class="bx bxl-facebook"></i></a
        ><a _ngcontent-serverapp-c111="" href="#" class="instagram"
          ><i _ngcontent-serverapp-c111="" class="bx bxl-instagram"></i></a
        ><a _ngcontent-serverapp-c111="" href="#" class="google-plus"
          ><i _ngcontent-serverapp-c111="" class="bx bxl-skype"></i></a
        ><a _ngcontent-serverapp-c111="" href="#" class="linkedin"
          ><i _ngcontent-serverapp-c111="" class="bx bxl-linkedin"></i
        ></a>
      </div>
    </div>
  </div>
  <!---->
</footer>
