<!-- ======= Header ======= -->
<header
  [ngClass]="{ headerr: router.url.includes('landing-page') }"
  id="header"
  class="fixed-top !font-sans"
  *ngIf="
    tabWidth > 768 &&
    !router.url.includes('/landing-page/orlando') &&
    !router.url.includes('/landing-page/san-francisco') &&
    !router.url.includes('/landing-page/new-york') &&
    !router.url.includes('/landing-page/chicago') &&
    !router.url.includes('/landing-page/washington') &&
    !router.url.includes('/landing-page/los-angeles') &&
    !router.url.includes('/landing-page/las-vegas') &&
    !router.url.includes('/landing-page/miami') &&
    !router.url.includes('/landing-page/atlanta') &&
    !router.url.includes('/landing-page/philadelphia') &&
    !router.url.includes('/landing-page/seattle') &&
    !router.url.includes('/landing-page/boston') &&
    !router.url.includes('/usa/luxury-experiences') &&
    !router.url.includes('/usa/outdoors-adventure') &&
    !router.url.includes('/usa/city-breaks') &&
    !router.url.includes('/usa/road-trips') &&
    !router.url.includes('/package-internal')
  "
>
  <div
    *ngIf="!router.url.includes('landing-page')"
    class="container d-flex justify-content-between"
  >
    <a href="https://www.holidaytribe.com/" class="logo cursor-pointer"
      ><img
        [src]="apiService.CDN_BASE_URL + 'assets/img/LOGO_White.png'"
        alt=""
        class="img-fluid"
    /></a>
    <nav
      [class.whiteText]="isHomePage()"
      id="navbar"
      class="navbar menu !font-sans"
      [class.menuClasse]="menuVariable"
    >
      <ul>
        <!-- <div class="only-mobile">
                  <div class="pro-img">
                    <img [src]="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="">
                  </div>
                  <div *ngIf="user_profile!=null&&user_profile!=undefined" [class.whiteText]=isHomePage() class="login">
                    <a style="position: relative; left: -12px !important; top: 3px !important;" class="getstarted scrollto"
                      (click)="openMyProfile()">Welcome {{user_profile.first_name}}</a>
                  </div>
                </div> -->
        <li>
          <a
            class="nav-link cursor-pointer scrollto"
            href="https://www.holidaytribe.com"
            >Home</a
          >
        </li>
        <li (click)="openMenuu()" *ngIf="tabWidth < 600"></li>
        <li>
          <a
            class="nav-link cursor-pointer scrollto"
            href="https://www.holidaytribe.com/about-us"
            >About Us</a
          >
        </li>
        <li>
          <a
            class="nav-link cursor-pointer scrollto"
            href="https://www.holidaytribe.com/careers"
            >Careers</a
          >
        </li>
        <!-- <li><a class="nav-link scrollto" routerLink="/">Holidays</a></li>
                <li><a class="nav-link scrollto " href="#portfolio">Flights</a></li>
                <li><a class="nav-link scrollto" href="#team">Hotels</a></li> -->

        <li>
          <a class="nav-link cursor-pointer scrollto" routerLink="/blogs"
            >Blogs</a
          >
        </li>

        <li
          style="position: relative; cursor: pointer"
          (mouseenter)="openthemes()"
          (mouseleave)="closeThemess()"
        >
          <a class="nav-link scrollto"
            >Themes
            <i
              style="margin-left: 5px; font-size: 15px"
              class="fa fa-angle-down"
              *ngIf="!themeListHeader"
            ></i>
            <i
              style="margin-left: 5px; font-size: 15px"
              class="fa fa-angle-up"
              *ngIf="themeListHeader"
            ></i>
          </a>
        </li>
        <!--                {{ holidayMood|json }}-->
        <div
          class="src-dropdownn"
          (mouseenter)="mouseEnterDropdown()"
          *ngIf="themeListHeader"
          (mouseleave)="mouseLeaveDropdown()"
        >
          <!-- <button *ngFor="let data of holidayMood;" (click)="openTheme(data.theme_id)">{{data.name}}</button> -->
          <div class="destination-column">
            <ng-container *ngFor="let data of holidayMood">
              <!-- <p>{{place.place}}</p> -->
              <div class="selected-countries-row">
                <div
                  (click)="openTheme(data.theme_id)"
                  class="destination-item destination-itemm"
                >
                  <img
                    [srcset]="utilService.getCDNMultipleResolutions(data.image)"
                    alt=""
                    class="destination-image"
                  />
                  <button class="destination-name">{{ data.name }}</button>
                </div>
              </div>
            </ng-container>
            <div
              (click)="endThemes()"
              style="
                text-align: end;
                cursor: pointer;
                position: relative;
                bottom: 25px;
                font-size: 22px;
              "
            >
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
        </div>

        <li
          style="position: relative; cursor: pointer"
          (mouseenter)="openDestinations()"
          (mouseleave)="closeDestinationss()"
        >
          <a class="nav-link scrollto"
            >Destinations
            <i
              style="margin-left: 5px; font-size: 15px"
              class="fa fa-angle-down"
              *ngIf="!destinationListHeader"
            ></i>
            <i
              style="margin-left: 5px; font-size: 15px"
              class="fa fa-angle-up"
              *ngIf="destinationListHeader"
            ></i>
          </a>
        </li>
        <div
          class="src-dropdownnn"
          (mouseenter)="mouseEnterDestination()"
          *ngIf="destinationListHeader"
          (mouseleave)="mouseLeaveDestination()"
        >
          <div class="column">
            <p
              [ngClass]="{ intt: international }"
              style="cursor: pointer; position: sticky; top: 31px"
              (click)="internationall()"
            >
              International
              <i
                style="margin-left: 5px; font-size: 15px"
                class="fa fa-angle-down"
                *ngIf="!international"
              ></i>
              <i
                style="margin-left: 5px; font-size: 15px"
                class="fa fa-angle-up"
                *ngIf="international"
              ></i>
            </p>
            <p
              [ngClass]="{ inttt: !international }"
              style="cursor: pointer; position: sticky; top: 90px"
              (click)="domestic()"
            >
              Domestic
              <i
                style="margin-left: 5px; font-size: 15px"
                class="fa fa-angle-down"
                *ngIf="international"
              ></i>
              <i
                style="margin-left: 5px; font-size: 15px"
                class="fa fa-angle-up"
                *ngIf="!international"
              ></i>
            </p>
          </div>
          <div *ngIf="international" class="destination-column">
            <div
              (click)="endDestination()"
              style="
                text-align: end;
                cursor: pointer;
                position: relative;
                bottom: 4px;
                font-size: 22px;
              "
            >
              <i class="fa-solid fa-xmark"></i>
            </div>
            <ng-container *ngFor="let place of transformedDestinations">
              <p>{{ place.place }}</p>
              <div class="selected-countries-row">
                <ng-container *ngFor="let destination of place.places">
                  <div
                    (click)="openDestination(destination.place_id)"
                    class="destination-item"
                  >
                    <img
                      [srcset]="
                        utilService.getCDNMultipleResolutions(
                          destination.place_image
                        )
                      "
                      alt=""
                      class="destination-image"
                    />
                    <button class="destination-name">
                      {{ destination.place_name }}
                    </button>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
          <div *ngIf="!international" class="destination-column">
            <div
              (click)="endDestination()"
              style="
                text-align: end;
                cursor: pointer;
                position: relative;
                bottom: 4px;
                font-size: 22px;
              "
            >
              <i class="fa-solid fa-xmark"></i>
            </div>
            <ng-container *ngFor="let place of transformedHomeData">
              <p>{{ place.direction }}</p>
              <div class="selected-countries-row">
                <ng-container *ngFor="let destination of place.places">
                  <div
                    (click)="openDestination(destination.place_id)"
                    class="destination-item"
                  >
                    <img
                      [srcset]="
                        utilService.getCDNMultipleResolutions(
                          destination.place_image
                        )
                      "
                      alt=""
                      class="destination-image"
                    />
                    <button class="destination-name">
                      {{ destination.place_name }}
                    </button>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>

        <li>
          <a
            class="nav-link scrollto"
            target="_blank"
            href="https://visa.holidaytribe.com"
            >Visa</a
          >
        </li>

        <!-- <li><a class="nav-link scrollto" routerLink="/flights">Flights</a></li>
                <li><a class="nav-link scrollto" routerLink="/hotels">Hotels</a></li> -->
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
    <div
      *ngIf="user_profile != null && user_profile != undefined"
      [class.whiteText]="isHomePage()"
      class="login mobile-none"
    >
      <!-- <a class="getstarted scrollto welcomee" (click)="openMyProfile()">Welcome {{user_profile.first_name}}</a> -->

      <div ngbDropdown>
        <a class="getstarted scrollto welcomee" ngbDropdownToggle
          >Welcome {{ user_profile.first_name }}</a
        >
        <div ngbDropdownMenu>
          <button
            class="dropdown-item"
            *ngFor="let sortOrder of sortOrders"
            (click)="ChangeSortOrder(sortOrder)"
          >
            {{ sortOrder }}
          </button>
        </div>
      </div>
    </div>
    <div
      *ngIf="!(user_profile != null && user_profile != undefined)"
      [class.whiteText]="isHomePage()"
      class="login"
    >
      <a class="getstarted scrollto" (click)="openlogin()"
        ><i class="fas fa-user"></i
      ></a>
      <!-- <a class="getstarted scrollto" (click)="opensignup()">SIGN UP</a> -->
    </div>
    <div
      class="menu_icon"
      [class.menu_iconClass]="menu_icon_variable"
      (click)="openMenu()"
    >
      <span></span>
      <span></span>
      <span></span>
      <!-- <img width="25" height="35" [src]="apiService.api_image_url +menu1.png" alt=""> -->
    </div>
  </div>
  <div
    *ngIf="router.url.includes('landing-page')"
    class="container d-flex justify-content-between"
  >
    <a routerLink="/" class="logoLanding"
      ><img
        [src]="apiService.CDN_BASE_URL + 'assets/img/LOGO_White.png'"
        alt=""
        class="img-fluid"
    /></a>
    <p class="requestBtn">
      <img
        [src]="apiService.CDN_BASE_URL + 'assets/img/RequestCall.png'"
      />Request Callback
    </p>
  </div>
</header>
<!-- End Header -->

<!-- ======= Header new mobile ======= -->
<header
  id="header "
  [ngClass]="{ header3: router.url.includes('landing-page') }"
  class="fixed-top header-2"
  *ngIf="
    tabWidth < 768 &&
    !router.url.includes('/landing-page/orlando') &&
    !router.url.includes('/landing-page/san-francisco') &&
    !router.url.includes('/landing-page/new-york') &&
    !router.url.includes('/landing-page/chicago') &&
    !router.url.includes('/landing-page/washington') &&
    !router.url.includes('/landing-page/los-angeles') &&
    !router.url.includes('/landing-page/las-vegas') &&
    !router.url.includes('/landing-page/miami') &&
    !router.url.includes('/landing-page/atlanta') &&
    !router.url.includes('/landing-page/philadelphia') &&
    !router.url.includes('/landing-page/seattle') &&
    !router.url.includes('/landing-page/boston') &&
    !router.url.includes('/usa/luxury-experiences') &&
    !router.url.includes('/usa/outdoors-adventure') &&
    !router.url.includes('/usa/city-breaks') &&
    !router.url.includes('/usa/road-trips') &&
    !router.url.includes('/package-internal')
  "
>
  <div
    *ngIf="!this.eventUrl.toLowerCase().includes('/landing-page/')"
    class="container d-flex justify-content-between"
  >
    <a routerLink="/" class="logo"
      ><img
        alt="Logo"
        width="100"
        height="50"
        [src]="apiService.CDN_BASE_URL + 'assets/img/LOGO_Dark.webp'"
        alt=""
        class="img-fluid"
    /></a>

    <nav
      [class.whiteText]="isHomePage()"
      id="navbar"
      class="navbar menu"
      [class.menuClasse]="menuVariable"
    >
      <div
        *ngIf="user_profile != null && user_profile != undefined"
        [class.whiteText]="isHomePage()"
        class="login"
      >
        <!-- <a class="getstarted scrollto welcomee" (click)="openMyProfile()">Welcome {{user_profile.first_name}}</a> -->
        <!-- <div class="proo-img">
                  <img [src]="apiService.api_image_url +profileLogoo.png" alt="">
                </div> -->

        <!-- <div ngbDropdown class="proo-img">
                  <a class=" scrollto welcomee wel" ngbDropdownToggle><img [src]="apiService.api_image_url +profileLogoo.png" alt=""></a>
                  <div ngbDropdownMenu class="dropdownUser">
                    <button class="dropdown-item" *ngFor="let sortOrder of
                                 sortOrders" (click)="ChangeSortOrder(sortOrder)">
                      {{sortOrder}}</button>
                  </div>
                </div> -->

        <!-- <div ngbDropdown>
                  <a class=" scrollto welcomee wel" ngbDropdownToggle> <img height="25px" width="22px" [src]="apiService.api_image_url +profileLogoo.png" alt=""></a>
                  <div ngbDropdownMenu class="dropdownUser">
                    <button class="dropdown-item" *ngFor="let sortOrder of
                                 sortOrders" (click)="ChangeSortOrder(sortOrder)">
                      {{sortOrder}}</button>
                  </div>
                </div> -->

        <div ngbDropdown>
          <a class="scrollto welcomee wel" ngbDropdownToggle
            ><img
              height="25px"
              width="22px"
              [src]="apiService.CDN_BASE_URL + 'assets/img/profileLogoo.png'"
              alt=""
            />
            <span>Welcome {{ user_profile.first_name }}</span></a
          >
          <div ngbDropdownMenu class="dropdownUser">
            <button
              class="dropdown-item"
              *ngFor="let sortOrder of sortOrders"
              (click)="ChangeSortOrder(sortOrder)"
            >
              {{ sortOrder }}
            </button>
          </div>
        </div>
      </div>
      <ul (click)="openMenu()">
        <div class="only-mobile">
          <!-- <div class="pro-img">
                      <img [src]="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="">
                    </div> -->
          <!-- <div *ngIf="user_profile!=null&&user_profile!=undefined" [class.whiteText]=isHomePage() class="login">
                      <a style="position: relative; left: -12px !important; top: 3px !important;" class="getstarted scrollto"
                        (click)="openMyProfile()">Welcome {{user_profile.first_name}}</a>
                    </div> -->
        </div>
        <li>
          <a class="nav-link scrollto" href="https://www.holidaytribe.com/"
            >Home</a
          >
        </li>
        <li *ngIf="tabWidth < 600">
          <div ngbDropdown>
            <a
              (click)="openThemeee()"
              class="nav-link scrollto welcomee"
              ngbDropdownToggle
              >Themes
              <!-- <i style="margin-left: 5px; font-size: 15px;" (click)="showTheme()" class="fa fa-angle-down plus" *ngIf="!themeList"></i>
                            <i style="margin-left: 5px; font-size: 15px;" (click)="showwThemee()" class="fa fa-angle-up minus" *ngIf="themeList"></i> -->
            </a>
            <!-- <li ngbDropdownMenu style="max-height: 150px !important;" class="listt">
                          <a class="nav-link scrollto dropdown-item destinations" *ngFor="let data of holidayMood;"
                            (click)="openTheme(data.theme_id)">
                            {{data.name}}</a>
                        </li> -->
          </div>
        </li>
        <li (click)="openMenuu()" *ngIf="tabWidth < 600">
          <div ngbDropdown>
            <a class="nav-link scrollto welcomee" ngbDropdownToggle
              >Destinations
              <i
                style="margin-left: 5px; font-size: 15px"
                (click)="showDestination()"
                class="fa fa-angle-down pluss"
                *ngIf="!destinationList"
              ></i>
              <i
                style="margin-left: 5px; font-size: 15px"
                (click)="showDestinationn()"
                class="fa fa-angle-up minuss"
                *ngIf="destinationList"
              ></i>
            </a>
            <li
              ngbDropdownMenu
              style="max-height: 100px !important; overflow: hidden"
              class="listtt"
            >
              <a
                class="nav-link scrollto dropdown-item destinations"
                *ngFor="let item of destinations"
                (click)="openDestinationn(item.name)"
              >
                {{ item.name }}</a
              >
            </li>
          </div>
        </li>
        <li>
          <a
            class="nav-link scrollto"
            href="https://www.holidaytribe.com/about-us"
            >About Us</a
          >
        </li>
        <li>
          <a
            class="nav-link scrollto"
            href="https://www.holidaytribe.com/careers"
            >Careers</a
          >
        </li>
        <!-- <li><a class="nav-link scrollto" routerLink="/">Holidays</a></li>
                      <li><a class="nav-link scrollto " href="#portfolio">Flights</a></li>
                      <li><a class="nav-link scrollto" href="#team">Hotels</a></li> -->

        <li>
          <a class="nav-link !cursor-pointer scrollto" routerLink="/blogs"
            >Blogs</a
          >
        </li>
        <li>
          <a
            class="nav-link scrollto"
            target="_blank"
            href="https://visa.holidaytribe.com"
            >Visa</a
          >
        </li>
        <!-- <li><a class="nav-link scrollto" routerLink="/flights">Flights</a></li>
                <li><a class="nav-link scrollto" routerLink="/hotels">Hotels</a></li> -->
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->

    <!-- <div class="iconn" *ngIf="searchIcoon && !menu_icon_variable" (click)="searchIcon()">
          <i class="fa fa-search"></i>
        </div> -->

    <!-- <div>
          <div class="search-container" *ngIf="!menu_icon_variable && !searchIcoon">
            <input type="text" id="search" [(ngModel)]="search"
            (ngModelChange)="onsearch()"  placeholder="Enter Destination...">
            <span (click)="closeSearchIcon()" class="search-icon"><i class="fa fa-times"></i></span>
          </div>
          <div class="[src]-dropdown" *ngIf="searchData.length && search.length > 0">
            <button *ngFor="let data of searchData" (click)="openPackage(data)">{{data.search_name}}</button>
          </div>
        </div> -->

    <div
      *ngIf="!(user_profile != null && user_profile != undefined)"
      [class.whiteText]="isHomePage()"
      class="login loginMob"
    >
      <a class="getstarted scrollto" (click)="openlogin()"
        ><i class="fas fa-user"></i
      ></a>
      <!-- <a class="getstarted scrollto" (click)="opensignup()">SIGN UP</a> -->
    </div>
    <div
      class="iconn"
      *ngIf="searchIcoon && !menu_icon_variable && !isHomeRoute()"
      (click)="searchIcon()"
    >
      <i class="fa fa-search"></i>
    </div>
    <div class="pro-img">
      <img
        [src]="apiService.CDN_BASE_URL + 'assets/img/profileLogoo.webp'"
        alt=""
      />
    </div>
    <div
      class="menu_icon"
      [class.menu_iconClass]="menu_icon_variable"
      (click)="openMenu()"
    >
      <span [class.menu_iconClassSpan]="menu_icon_variable"></span>
      <span></span>
      <span [class.menu_iconClassSpan]="menu_icon_variable"></span>
      <!-- <img width="25" height="35" [src]="apiService.api_image_url +menu1.png" alt=""> -->
    </div>
  </div>
  <div *ngIf="!this.eventUrl.toLowerCase().includes('/landing-page/')">
    <div class="search-container" *ngIf="!menu_icon_variable && !searchIcoon">
      <input
        type="text"
        id="search"
        [(ngModel)]="search"
        (ngModelChange)="onsearch()"
        placeholder="Enter Destination..."
      />
      <span (click)="closeSearchIcon()" class="search-icon"
        ><i class="fa fa-times"></i
      ></span>
    </div>
    <div class="src-dropdown" *ngIf="searchData.length && search.length > 0">
      <button *ngFor="let data of searchData" (click)="openPackage(data)">
        {{ data.search_name }}
      </button>
    </div>
  </div>
  <div
    *ngIf="this.eventUrl.toLowerCase().includes('/landing-page/')"
    class="container d-flex justify-content-between"
  >
    <a routerLink="/" class="logoLanding"
      ><img
        [src]="apiService.CDN_BASE_URL + 'assets/img/LOGO_White.png'"
        alt=""
        class="img-fluid"
    /></a>
    <p class="requestBtn">
      <img
        [src]="apiService.CDN_BASE_URL + 'assets/img/RequestCall.png'"
      />Request Callback
    </p>
  </div>
</header>
<!-- End Header -->

<div class="custom-header">
  <header
    id="header2"
    class="fixed-top"
    *ngIf="
      router.url.includes('/landing-page/orlando') ||
      router.url.includes('/landing-page/san-francisco') ||
      router.url.includes('/landing-page/new-york') ||
      router.url.includes('/landing-page/chicago') ||
      router.url.includes('/landing-page/washington') ||
      router.url.includes('/landing-page/los-angeles') ||
      router.url.includes('/landing-page/las-vegas') ||
      router.url.includes('/landing-page/miami') ||
      router.url.includes('/landing-page/atlanta') ||
      router.url.includes('/landing-page/philadelphia') ||
      router.url.includes('/landing-page/seattle') ||
      router.url.includes('/landing-page/boston') ||
      router.url.includes('/usa/luxury-experiences') ||
      router.url.includes('/usa/outdoors-adventure') ||
      router.url.includes('/usa/city-breaks') ||
      router.url.includes('/usa/road-trips') ||
      router.url.includes('/package-internal')
    "
  >
    <div class="container style-container">
      <div
        class="navbar-main d-flex align-items-center justify-content-between"
      >
        <div class="logo d-flex align-items-center">
          <div>
            <a href="index.html" class="logo me-auto"
              ><img
                src="https://dsge8950r7q4v.cloudfront.net/USA/assets/image/logo-white.png"
                alt=""
                class="img-fluid"
            /></a>
          </div>
          <div class="search-top only-desktop">
            <input
              type="text"
              [(ngModel)]="search"
              (ngModelChange)="onsearch()"
              placeholder="Write here..."
            />
            <i
              ><img
                src="https://dsge8950r7q4v.cloudfront.net/USA/assets/image/outdoors/search-icon.png"
                alt=""
            /></i>
          </div>
          <div
            class="src-dropdownn"
            *ngIf="searchData.length && search.length > 0"
          >
            <button *ngFor="let data of searchData" (click)="openPackage(data)">
              {{ data.search_name }}
            </button>
          </div>
        </div>

        <nav
          id="navbar"
          class="navbar order-last order-lg-0"
          [ngClass]="{ active: isNavbarActive }"
        >
          <ul>
            <i class="fa-solid fa-x toggle-close" (click)="toggleNavbar()"></i>
            <li><a class="nav-link scrollto active" routerLink="/">Home</a></li>
            <li>
              <a class="nav-link scrollto" routerLink="/about-us">About</a>
            </li>

            <li>
              <a class="nav-link scrollto" routerLink="/careers">Careers</a>
            </li>
            <li><a class="nav-link scrollto" routerLink="/blogs">Blog</a></li>

            <li
              class="dropdown"
              style="position: relative; cursor: pointer"
              (mouseenter)="openthemes()"
              (mouseleave)="closeThemess()"
              (click)="toggleDropdown()"
            >
              <a class="nav-link scrollto"
                >Themes
                <i
                  style="margin-left: 5px; font-size: 15px"
                  class="fa fa-angle-down"
                  *ngIf="!themeListHeader"
                ></i>
                <i
                  style="margin-left: 5px; font-size: 15px"
                  class="fa fa-angle-up"
                  *ngIf="themeListHeader"
                ></i>
              </a>
              <ul [ngClass]="{ dropdownopen: dropdownOpen }">
                <li><a (click)="luxuryDirection('luxury')">Luxury</a></li>
                <li><a (click)="luxuryDirection('outdoors')">Outdoors</a></li>
                <li>
                  <a (click)="luxuryDirection('cityBreaks')">City Breaks</a>
                </li>
                <li>
                  <a (click)="luxuryDirection('roadTrips')">Road Trips</a>
                </li>
              </ul>
            </li>
          </ul>
          <!-- <div class="search-top only-mobile">
                      <i><img [src]="assets/image/outdoors/search-icon.png" alt=""></i>
                     </div> -->

          <i (click)="toggleNavbar()" class="fa-solid fa-bars menu-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </div>
  </header>
</div>
