<section class="blog-listing">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-4 !flex"
        *ngFor="let post of filteredPosts; let last = last"
      >
        <div
          class="blog-listing-box pt-[15px]"
          (click)="onPostClick(post)"
          #blogPost
        >
          <!-- <div class="date">
            <p>{{ post.createdAt | date }}</p>
          </div> -->
          <img
            [src]="post.featureImage || (post.media && post.media.length > 0 ? post.media[0]?.url : '')"
            [alt]="post.featureImageAlt"
            class="img-fluid"
          />
          <h3>{{ post.title }}</h3>
          <p [innerHTML]="post.excerpt"></p>
          <div
            class="row mary d-flex align-items-center author"
            style="width: 100%"
          >
            <div class="col">
              <p style="text-wrap-mode: nowrap; margin-right: 12px">
                <i class="fa-solid fa-user"></i>{{ post.author?.name }}
              </p>
            </div>
            <div
              id="fx-button-hover-1-button"
              class="col-auto fx-button-hover-1-pan button--pan fx-button-hover"
            >
              <!-- <a>discover</a> -->
              <a value="fx-button-hover" label="" type="page">
                <span>discover</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Loading indicator -->
    <div class="row" *ngIf="loading">
      <div class="col-12 text-center my-4">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="pagination-blog">
          <!-- <p>PAGE <b>1</b> OF <b>14</b></p> -->
          <!-- <button><img src="assets/img/arrow-left.png" alt=""></button>
                    <button><img src="assets/img/arrow-right.png" alt=""></button> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="social-main">
  <div class="container">
    <div class="row">
      <div class="col-md-12 m-auto">
        <div class="list-social">
          <h3>Follow us on</h3>
          <span></span>
          <div class="social-icons">
            <ul>
              <li>
                <a
                  href="https://www.youtube.com/channel/UCIrUTnSSSQMQpcj86D3Z9Xg"
                  target="_blank"
                >
                  <!-- YouTube SVG -->
                  <svg viewBox="0 0 24 24">
                    <path
                      d="M21.5 7.1c-.2-.7-.8-1.3-1.5-1.5C18.3 5 12 5 12 5s-6.3 0-8 0.6c-.7.2-1.3.8-1.5 1.5C2 8.8 2 12 2 12s0 3.2 0.6 4.9c.2.7.8 1.3 1.5 1.5 1.7.6 8 .6 8 .6s6.3 0 8-0.6c.7-.2 1.3-.8 1.5-1.5C22 15.2 22 12 22 12s0-3.2-0.6-4.9zM10 15.5V8.5l5.5 3.5-5.5 3.5z"
                    />
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="https://instagram.com/holidaytribeworld?igshid=YmMyMTA2M2Y="
                  target="_blank"
                >
                  <!-- Instagram SVG -->
                  <svg viewBox="0 0 24 24">
                    <path
                      d="M12 2.2c3.2 0 3.6 0 4.9.1 1.2.1 1.9.3 2.3.5.6.2 1.1.5 1.6 1 .5.5.8 1 .9 1.6.2.4.4 1.1.5 2.3.1 1.3.1 1.7.1 4.9s0 3.6-.1 4.9c-.1 1.2-.3 1.9-.5 2.3-.2.6-.5 1.1-1 1.6-.5.5-1 .8-1.6.9-.4.2-1.1.4-2.3.5-1.3.1-1.7.1-4.9.1s-3.6 0-4.9-.1c-1.2-.1-1.9-.3-2.3-.5-.6-.2-1.1-.5-1.6-1-.5-.5-.8-1-.9-1.6-.2-.4-.4-1.1-.5-2.3-.1-1.3-.1-1.7-.1-4.9s0-3.6.1-4.9c.1-1.2.3-1.9.5-2.3.2-.6.5-1.1 1-1.6.5-.5 1-.8 1.6-.9.4-.2 1.1-.4 2.3-.5 1.3-.1 1.7-.1 4.9-.1zm0 2.2c-3.1 0-3.5 0-4.7.1-.9.1-1.4.3-1.7.5-.4.2-.7.5-.9.9-.2.4-.4.9-.5 1.7-.1 1.2-.1 1.6-.1 4.7s0 3.5.1 4.7c.1.9.3 1.4.5 1.7.2.4.5.7.9.9.4.2.9.4 1.7.5 1.2.1 1.6.1 4.7.1s3.5 0 4.7-.1c.9-.1 1.4-.3 1.7-.5.4-.2.7-.5.9-.9.2-.4.4-.9.5-1.7.1-1.2.1-1.6.1-4.7s0-3.5-.1-4.7c-.1-.9-.3-1.4-.5-1.7-.2-.4-.5-.7-.9-.9-.4-.2-.9-.4-1.7-.5-1.2-.1-1.6-.1-4.7-.1zm0 3.3a4.5 4.5 0 1 0 0 9 4.5 4.5 0 0 0 0-9zm0 7.4a2.9 2.9 0 1 1 0-5.8 2.9 2.9 0 0 1 0 5.8zm5.7-7.4a1.1 1.1 0 1 1-2.2 0 1.1 1.1 0 0 1 2.2 0z"
                    />
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="https://www.facebook.com/profile.php?id=100091659167328"
                  target="_blank"
                >
                  <!-- Facebook SVG -->
                  <svg viewBox="0 0 24 24">
                    <path
                      d="M12 2C6.5 2 2 6.5 2 12c0 5 3.7 9.1 8.4 9.9v-7H7.9V12h2.5V9.8c0-2.5 1.5-3.9 3.8-3.9 1.1 0 2.2.2 2.2.2v2.5h-1.3c-1.2 0-1.6.8-1.6 1.6V12h2.8l-.4 2.9h-2.3v7C18.3 21.1 22 17 22 12c0-5.5-4.5-10-10-10z"
                    />
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/company/holidaytribe/"
                  target="_blank"
                >
                  <!-- LinkedIn SVG -->
                  <svg viewBox="0 0 24 24">
                    <path
                      d="M20.5 2h-17A1.5 1.5 0 0 0 2 3.5v17A1.5 1.5 0 0 0 3.5 22h17a1.5 1.5 0 0 0 1.5-1.5v-17A1.5 1.5 0 0 0 20.5 2zM8 19H5v-9h3zM6.5 8.2A1.8 1.8 0 1 1 6.5 5a1.8 1.8 0 0 1 0 3.2zM19 19h-3v-4.8c0-1.1-.4-1.8-1.4-1.8-1 0-1.5.7-1.5 1.8V19h-3v-9h3v1.2c.4-.6 1.2-1.4 2.7-1.4 2 0 3.2 1.3 3.2 4z"
                    />
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://wa.me/+919205553340" target="_blank">
                  <!-- WhatsApp SVG -->
                  <svg viewBox="0 0 24 24">
                    <path
                      d="M12 2C6.5 2 2 6.5 2 12c0 1.8.5 3.5 1.4 5L2 22l5.3-1.4c1.5.9 3.2 1.4 5 1.4 5.5 0 10-4.5 10-10S17.5 2 12 2zm3.2 13.9c-.2.6-.8.8-1.3.8-.3 0-.6-.1-.9-.2-.6-.2-1.3-.6-2-1.2-.8-.7-1.5-1.5-2-2.4-.5-.8-.7-1.7-.7-2.7 0-.5.2-.9.5-1.2.2-.2.5-.3.8-.3h.5c.2 0 .4 0 .5.2.2.2.5.6.5 1 0 .2-.1.5-.2.7-.1.2-.2.4-.2.5.1.3.3.6.5.9.3.3.6.5.9.7.3.1.6.2.9.2.2 0 .4-.1.6-.2.2-.1.4-.3.5-.5.1-.2.2-.5.2-.7 0-.3-.1-.5-.3-.7-.4-.3-.8-.7-1.2-1-.2-.2-.4-.4-.5-.6-.1-.2-.2-.5-.2-.8 0-.3.1-.5.3-.7.2-.2.5-.3.8-.3.4 0 .7.2.9.5.5.8.8 1.7.8 2.7 0 .9-.2 1.7-.5 2.4z"
                    />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
